<meta charset="utf-8" /> 
<p>Включено?</p> <input id="e_all" type="checkbox"><br>
<button id="all">All!</button>
<button id="stop">Stop!</button>
<br><br>
<p>Анти-капча включена?</p> <input id="e_captha" type="checkbox"><br>
<input type="text" id="api_domain" placeholder="api Domain" value="api.anti-captcha.com">
<input type="text" id="api_key" placeholder="api key">
<button id="save_api_key">Сохранить</button>
<script src="./../content_scripts/jq.js"></script>
<script src="popup.js"></script>

